.progress-bar {
    /* width: 100%; */
    height: 8px;
    background-color: #d4d7e7;
    border-radius: 5px;
    width: 80px
}

.progress {
    background-color: #de411b;
    height: 100%;
    margin: 0;
    border-radius: 5px;
}